---
- name: Install sshd packages
  ansible.builtin.package:
    name: "openssh-server"
    state: present

- name: SSHD banner
  ansible.builtin.template:
    src: sshd_banner.j2
    dest: "{{ sshd_banner_path }}"
    owner: root
    group: root
    mode: "0644"
  when: sshd_banner_needed

- name: SSHD configuration file
  ansible.builtin.template:
    src: sshd_config.j2
    dest: "{{ sshd_config_path }}"
    owner: root
    mode: "0600"
    backup: true
    validate: sshd -t -f %s
  notify: Restart SSHD
